.post{

    border: 1px solid black;
    width: 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 70px;
    transform: translate(-50%, -50% );
    
}
.titlepost{
    width: 10px;
}

