.post{

    border: 1px solid black;
    width: 1000px ;
    display: flex;
    justify-content: end;
    position: relative;
    left: 50%;
    top: 70px;
    transform: translate(-50%, -50% );
    
}
.titlepost{
    width: 10px;
}
.posiDate{
    justify-content: end;
}

